<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/update/{{hospital.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Hospital Id:</label>  
    <div class="col-sm-4">  
        <input type="text" name="id" id="id_id" required maxlength="20" value="{{ hospital.id }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Hospital Name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="name" id="id_name" required maxlength="100" value="{{ hospital.name }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Hospital Address:</label>  
    <div class="col-sm-4">  
        <input type="text" name="address" id="id_address" required maxlength="254" value="{{ hospital.address }}" />  
    </div>
  <div class="form-group row">  
      <label class="col-sm-2 col-form-label">Hospital Specialty:</label>  
      <div class="col-sm-4">  
          <input type="text" name="specialty" id="id_specialty" required maxlength="254" value="{{ hospital.specialty }}" />  
      </div>    
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Hospital Emergency Phone:</label>  
    <div class="col-sm-4">  
        <input type="text" name="emergency_phone" id="id_emergency_phone" required maxlength="254" value="{{ hospital.emergency_phone }}" />  
    </div>    
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Hospital General Phone:</label>  
    <div class="col-sm-4">  
        <input type="text" name="general_phone" id="id_general_phone" required maxlength="254" value="{{ hospital.general_phone }}" />  
    </div>    
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Hospital Registration Phone:</label>  
    <div class="col-sm-4">  
        <input type="text" name="registration_phone" id="id_registration_phone" required maxlength="254" value="{{ hospital.registration_phone }}" />  
    </div>    
  </div>             
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Hospital Administration Phone:</label>  
    <div class="col-sm-4">  
        <input type="text" name="admin_phone" id="id_admin_phone" required maxlength="15" value="{{ hospital.admin_phone }}" />  
    </div>
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  