{% extends "base.html" %}

{% block page_content %}

        <div class="mw6 center pa3 sans-serif">

            <h1 class="mb4">id: {{ hospitals.id | linebreaks }}</h1>

            <header class="b mb2">name: {{ hospital.name }}</header>

            <header class="b mb2">address: {{ hospitals.address }}</header>

            <header class="b mb2">specialty: {{ hospitals.specialty }}</header>

            <header class="b mb2">emergency_phone: {{ hospitals.emergency_phone }}</header>

            <header class="b mb2">general_phone: {{ hospitals.general_phone }}</header>

            <header class="b mb2">registration_phone: {{ hospitals.registration_phone }}</header>

            <header class="b mb2">admin_phone: {{ hospitals.admin_phone }}</header>

            <header class="b mb2">tbl_last_date: {{ hospitals.tbl_last_date }}</header>

        </div>

{% endblock %}